<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccc.cmaradecomerciodecasanare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPDFActivity"></activity>
        <activity android:name=".BuscarNombre" />
        <activity
            android:name=".Renovar"
            android:label="Renovar" />
        <activity android:name=".Principal" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpAY9o1BA0cSxy1romzN4rGWcpMCl6iDU" />

        <activity
            android:name=".TiposCertificados"
            android:label="Tipos de Certificados" />
        <activity
            android:name=".Registrar"
            android:label="Regístrese" />
        <activity
            android:name=".Consultar"
            android:label="Ingrese" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>